.hdr{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0px;
    height: 100px;
    font-size: 300%;
    line-height: 100px;
    white-space: nowrap;
    overflow: hidden;
}
#button {
    font-family: 'Times New Roman';
    color: white;
    background-color: transparent;
    font-size: 75%;
    border-color: transparent;
    cursor: pointer;
}
#button:hover {
    transform: translate(0,-3px);
    font-size: 130%;
    transition: background-size 2 seconds linear;
    text-decoration: underline;
}
body{  
    text-align: center;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
h1{
    font-size: 350%;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(255,255,200);
}
h2{
    text-align: left;
    margin-left: 350px;
    font-size: 250%;
    margin-bottom:10px;
    margin-top: 15px;
}
h3 {
    margin-top: 100px;
    text-align: left;
    margin-left: 350px;
    font-size: 250%;
    margin-bottom:10px;
}
p {
    font-size: 150%;
    text-align: left;
    margin-left: 350px;
    width: 450px;
}
.contact {
    display: grid;
    grid-template-columns: 1fr , 1fr;
    grid-gap: 10px;

}
form {
    text-align: right;
    margin-right:350px;
}
#flname {
    width: 300px;
    margin-right: 200px;
}
#emails {
    width: 300px;
    margin-right: 200px;
}
#message {
    width:500px;
    height:300px;
}
