.hdr{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0px;
    height: 100px;
    font-size: 250%;
    align-content: center;
}

body{
    text-align: center;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
#id-a{
    font-size: 300%;
    margin-bottom: 5px;
}
#id-b{
    font-size: 210%;
    margin-top: 5px;
    margin-bottom:20px;
}
figure {
    margin-top: 10px;
    font-size: 120%;
}
p {
    
    font-size: 150%;
    margin-left: 15%;
    margin-right: 15%;
}