.hdr{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0px;
    height: 100px;
    font-size: 300%;
    line-height: 100px;
    white-space: nowrap;
    overflow: hidden;
}
#button {
    font-family: 'Times New Roman';
    color: white;
    background-color: transparent;
    font-size: 75%;
    border-color: transparent;
    cursor: pointer;
}
#button:hover {
    transform: translate(0,-3px);
    font-size: 130%;
    transition: background-size 2 seconds linear;
    text-decoration: underline;
}
body{
    text-align: center;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
#id-a{
    font-size: 350%;
    margin-bottom: 20px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
p {
    
    font-size: 150%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
}
.class-a{
    font-size: 250%;
    margin-bottom: 20px;
    margin-top: 65px;
    text-decoration-style: dotted;
    text-decoration-line:underline;
}
figure {
    margin-top: 10px;
    font-size: 120%;
}
h3 {
    font-size:210%;
    margin-bottom: 5px;
    margin-top: 15px;
}
li {
    text-align: center;
    margin-right: 50px;
    list-style-position: inside;
}
.wrapper, .grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows:35px ;
    grid-auto-columns: 40px;
    border:2px solid rgb(255, 255, 200);
    border-radius: 5px;
    background-color: rgb(203, 203, 252);
    margin-bottom: 20px;
}
.one, .two, .three, .four, .five, .six, .a, .b, .c, .d, .e, .f {
    font-size: 150%;
    border:2px solid rgb(255, 255, 200);
    padding-top:2px;
}
.ingred, .ingredients{
    padding-left: 25%;
    padding-right:25%;
}
ol {
    margin-top: 5px;
    font-size: 150%;
    margin-bottom: 35px;
}
#btn-2 {
    position:fixed;
    bottom: 20px;
    right: 30px;
    font-size: 20px;
    z-index: 99;
    background-color: rgb(255, 255, 200);
    color: rgb(203, 203, 252);
    border-color: rgb(255,255,200);
}





