#id-a{
    font-size:33px;
    width: 300px;
    margin-bottom: 5px;
}
#id-b{
    margin-top:5px;
    font-size:23px;
    font-weight: 150px;
}
p{
    width:850px;
    margin-top: 5px;
}
#id-c{
    margin-bottom:25px;
}
#id-d{
    font-size:27px;
    margin-bottom: 10px;
}

