#id-a{
    font-size:34px;
    width: 300px;
    margin-bottom: 5px;
}
#id-b{
    margin-top:5px;
    font-size:22px;
    font-weight: 150px;
}
p{
    width:850px;
    margin-top: 5px;
}
#id-c{
    margin-bottom:20px;
}
.class-one{
    font-size:29px;
    margin-bottom: 10px;
   
}
figure{
    margin-left: 0px;
}


